 <div class="container">
    <div class="row">
      <div class="col-xl-3 col-xxl-3 col-xs-8 col-lg-4 col-md-15 col-sm-12 ml-3 foto_estilo">
        <img src="../../../assets/FotoPerfil.jpeg" alt="Foto-Jeremias Vallejos" class="img-fluid" />
      </div>
      <div class="styles-my col-xl-10 col-xxl-10 col-xs-5 col-lg-4 col-md-15 col-sm-12 d-flex flex-column justify-content-center align-items-center ml-3">
            <h3 class="mb-auto">Acerca de Mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem minima quos voluptas mollitia
            quae a, sequi veritatis natus debitis eum magni, reprehenderit, corporis atque!
            Soluta earum incidunt voluptates nihil?</p>
      </div>
      <div class="w-100"></div>
      <div class="col-xl-3 col-xxl-3 col-xs-8 col-lg-4 col-md-15 col-sm-12 contenedor_nombres">
        <div class="contenedor_nombress">
          <p>Jeremías Vallejos Gonzalez</p>
          <p>Full Stack Developer</p> 
        </div>
      </div>
    </div>
  </div>
  
