<div class="container-experience">
    <div class="experience">
        <h2>Experiencia</h2>
    </div>
    <div>
        <h3>GaoInk</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit ipsum maiores sequi ipsam quasi ea rem, quam impedit natus ab quos quia, nesciunt fugiat est recusandae, facere numquam ipsa!</p>
    </div>
     <hr>
    <div>
        <h3>GaoInk</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit ipsum maiores sequi ipsam quasi ea rem, quam impedit natus ab quos quia, nesciunt fugiat est recusandae, facere numquam ipsa!</p>
    </div>
    <hr>
    <div>
        <h3>GaoInk</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque odit ipsum maiores sequi ipsam quasi ea rem, quam impedit natus ab quos quia, nesciunt fugiat est recusandae, facere numquam ipsa!</p>
    </div>
</div>
