 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
 

.row{
    padding: 12px;
  background-color: #686868;
  text-align: center;
} 

/* #foto_estilo{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 3%;
    top: 520px;
    border-radius: 50%;
    border: #a8a8a8 5px solid;
} */

@media (min-width:576px){
    #foto_estilo{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 1%;
        top: 600px;
        border-radius: 50%;
        display:flex;
        border: #a8a8a8 5px solid;
    }
}
@media (max-width:575px){
    #foto_estilo{
        /* position: absolute; */
        width: 250px;
        height: 250px;
        top: 600px;
        border-radius: 50%;
        display:flex;
        margin: 0 auto;
        border: #a8a8a8 5px solid;
    }
    #contenedor_nombres{
        margin-top: 12px;
    }
}

#contenedor_nombres{
    position: relative;
    text-align: center;
    justify-content: center;
    left: 13%;
}

#contenedor_nombres p{
   margin-bottom: 10px;
   font-size: 15px;
   font-weight: 700;
   top: 120px;
   color: #ffffff;
   font-family: 'Libre Baskerville', serif;

} 

#contenedor_acerca{
    display: inline-block;
    left: 13%;
    text-align: center;
    justify-content: center;
}