<section class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/FotoPerfil.jpeg" alt="Foto-Jeremias Vallejos" class="img-fluid" id="foto_estilo"/>
    </div>
    <div id='contenedor_nombres' class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
        <p>Jeremías Vallejos Gonzalez</p>
        <p>Full Stack Developer</p>
    </div>
    <div id="contenedor_acerca" class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem minima quos voluptas mollitia
            quae a, sequi veritatis natus debitis eum magni, reprehenderit, corporis atque!
            Soluta earum incidunt voluptates nihil?</p>
    </div>
</section>