<section class="contenedor_acercaDe">
   <div class="contenedor_foto">
     <img src="../../../assets/FotoPerfil.jpeg" alt="Foto-Jeremias Vallejos" class="foto_estilo"/>
   </div>
   <div class="contenedor_nombre">
     <p>Jeremias Vallejos Gonzalez</p>
     <p>Full Stack Developer</p>
   </div>
   <div>
    <h3>Acerca de mí</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem minima quos voluptas mollitia 
        quae a, sequi veritatis natus debitis eum magni, reprehenderit, corporis atque! 
        Soluta earum incidunt voluptates nihil?</p>
   </div>
</section>