<div class="container">
    <div class="row ">
    <div style="background-color: blueviolet;" class="col-xl-3 col-xxl-3 col-xs-8 col-lg-8 col-md-4 foto_estilo">
        <img src="../../../assets/FotoPerfil.jpeg" alt="Foto-Jeremias Vallejos" class="img-fluid" />
    </div>
    <div id="contenedor_nombres" class="col-xl-3 col-xxl-3 col-xs-8 col-lg-8 col-md-8 contenedor_nombres" >
        <p>Jeremías Vallejos Gonzalez</p>
        <!-- <p>Full Stack Developer</p> -->
    </div>
    <div class="col-xl-6 col-xxl-6 col-xs-8 col-lg-8 col-md-8 contenedor_acerca">
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel rem minima quos voluptas mollitia
            quae a, sequi veritatis natus debitis eum magni, reprehenderit, corporis atque!
            Soluta earum incidunt voluptates nihil?</p>
    </div>
</div>
</div>