 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');
 

.container{
    /* background-color: #686868; */
    margin:0px;
    padding: 0;
}
.title{
    display: grid;
    place-items: center;
    height: 100px;
    width: 100%;
    background-color: aqua;
}
.sinpadding {
    margin: 0;
}

.foto_estilo{
    float: left;
     top: -170px; 
    position: relative; 
}
.foto_estilo img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: #a8a8a8 5px solid;
    display:flex;
    justify-content: center;
}
/* .row{
    padding: 12px;
  background-color: #686868;
  text-align: center;
}  */

/* #foto_estilo{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 3%;
    top: 520px;
    border-radius: 50%;
    border: #a8a8a8 5px solid;
} */

/* @media (min-width:576px){
    #foto_estilo{
        position: absolute;
        width: 250px;
        height: 250px;
        left: 1%;
        top: 600px;
        border-radius: 50%;
        display:flex;
        border: #a8a8a8 5px solid;
    }
}
@media (max-width:575px){
    #foto_estilo{
        /* position: absolute; */
       /* width: 250px;
        height: 250px;
        top: 600px;
        border-radius: 50%;
        display:flex;
        margin: 0 auto;
        border: #a8a8a8 5px solid;
    } 
  #contenedor_nombres{
        margin-top: 12px;
    } 
}*/

.contenedor_nombres{
    display: grid;
   place-items: center;
    
 
}

.contenedor_nombress p{
   /* font-size: 15px;
   font-weight: 700; */

   text-align: center;
 color: #000000;
   font-family: 'Libre Baskerville', serif; 

} 

.contenedor_acerca h3{
    text-align: center;
    justify-content: center;
    color: #000000;
    font-family: 'Libre Baskerville', serif;
}

.contenedor_acerca p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
    top: 120px;
    color: #0a0a0a;
    font-family: 'Libre Baskerville', serif;
}