 @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');


.container{
    margin-left:13px;
    padding: 0;
}
.title{
    display: grid;
    place-items: center;
    height: 100px;
    width: 100%;
    background-color: aqua;
}


.foto_estilo{
    float: left;
     margin-top: -70px;
    z-index: 12;
}

.foto_estilo img{
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: #a8a8a8 5px solid;
    display:inline-block;
    justify-content: center;
} 

.styles-my{
    width: 500px;

}


.contenedor_nombres{
    display: grid;
   place-items: center;
    
 
}

.contenedor_nombress p{
   text-align: center;
   color: #000000;
   font-family: 'Libre Baskerville', serif; 
   margin-top: 10px;
} 

.styles-my h3{
    text-align: center;
    justify-content: center;
    color: #000000;
    font-family: 'Libre Baskerville', serif;
}

.styles-my p{
    font-size: 15px;
    margin-left: 40px;
    font-weight: 700;
    top: 120px;
    color: #0a0a0a;
    font-family: 'Libre Baskerville', serif;
} 
