<div>
    <div class='education'>
        <h2>Educacion</h2>
    </div>
    <div>
        <h3>Henry</h3>
        <p>20/06 hasta 12/09</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa autem excepturi maxime odit amet ut repellat facilis repudiandae modi quidem consequuntur exercitationem sit repellendus placeat, eos soluta quam? Pariatur.</p>
    </div>
    <div>
        <h3>Argentina Programa</h3>
        <p>20/06 hasta 12/09</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa autem excepturi maxime odit amet ut repellat facilis repudiandae modi quidem consequuntur exercitationem sit repellendus placeat, eos soluta quam? Pariatur.</p>
    </div>
</div>