<div>
    <div class='education'>
        <h2>Educacion</h2>
    </div>
    <div class="card w-75">
        <div class="card-body card-exprience">
          <h5 class="card-title ">#ArgentinaPrograma</h5>
          <p class="card-text">12/3/23 - 12/5/23</p>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam veniam, temporibus error dolores velit omnis provident quisquam natus? Aut, quidem cupiditate. Minima a illum aspernatur recusandae labore? Sunt, voluptatem velit!</p>
        </div>
      </div>
</div>