<nav class='nav_Styles'> 
    <div class="contenedor_img">
        <img class="img-logo" src="../../../assets/arg-prog.png" alt="Logo_Argentina_Programa" >
    </div> 
    <div class="contenedor_iconos">
        <div class="contenedor_Logo">
       <img class="icon_user" src="../../../assets/User.svg" alt="User_Icon">
      </div>
       <div class="Icon_style_GitHub" class="Icon_style_Linkedin" >
        <a href="#"><img style="width: 70px; height: 70px;" src="../../../assets/Linkedin.svg" alt="linkedin"></a>
       </div>
        <div class="Icon_style_GitHub">
            <img style="width: 70px; height: 70px;"src="../../../assets/GitHub.svg">
        </div>
    </div> 
 
</nav> 