<nav class="nav_style">
<div class='Contenedor_Cabezera'>
    <div class="contenedor_img">
        <img class="img-logo" src="../../../assets/arg-prog.png" alt="Logo_Argentina_Programa">
    </div>
    <div class="contenedor_iconos">
        <div class="contenedor_Logo">
            <a routerLink="/login">
                
                <img class="icon_user" src="../../../assets/User.svg" alt="User_Icon"></a>
        </div>
        <div class="Icon_style" id='Linkedin'>
            <a href="#"><img style="width: 70px; height: 70px;" src="../../../assets/Linkedin.svg" alt="linkedin"></a>
        </div>
        <div class="Icon_style">
            <a href="#"><img id='GitHub' style="width: 70px; height: 70px;" src="../../../assets/GitHub.svg"></a>
        </div>
    </div>
</div>
<div class="contenedor_presentacion">
    <h1>■ Hola!<br/>Soy Jeremias Vallejos</h1><br/>
    <p>Desarollador Full Stack</p>
</div>
</nav>