<!-- <nav class='nav_Styles'> -->
    <div class="contenedor_img">
        <img class="img-logo" src="../../../assets/arg-prog.png" alt="Logo_Argentina_Programa" >
    </div> 
    <div>
    <div class="contenedor_icon">
       <img class="icon_user" src="../../../assets/Userp.svg" alt="User_Icon">
    </div>
    <div>
        <a href=""><img src="../../../assets/linkedin.svg" alt="linkedin"></a>
    </div>
    <div>
        <img src="../../../assets/github-circle.svg">
    </div>
</div>
<!-- </nav> -->