@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 .experience{
margin: 70px 0px 30px 12px;
} 

.card{
    background-color: transparent;
    color: beige;
}
.experience h2{
    font-family: 'Anton', sans-serif;
    display: inline-block;
    position: relative;
}

h2::before{
 content: '';
 position: absolute;
 width: 100px;
 height:5px;
 border-radius: 15px;
 background-color: #7fff00;
 top: 1.2em;
}

.card-exprience h6{
    font-weight: 700;
}
.card-exprience h6, p{
    padding-left: 70px;
}

.description-experience{
   color: white;
    width: 500px;
}
