@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

 .experience{
margin: 70px 0px 70px 12px;
} 


.experience h2{
    font-family: 'Anton', sans-serif;
    display: inline-block;
    position: relative;
}

h2::before{
 content: '';
 position: absolute;
 width: 100px;
 height:5px;
 border-radius: 15px;
 background-color: #7fff00;
 top: 1.2em;
}

div > h3{
    margin-left: 20px;
    font-family: 'Poltawski Nowy', serif;
}

div > p {
    margin: 2px 0px 2px 10px;
    font-family:'Poltawski Nowy', serif;
    
}

.description .time{
    margin-left: 25px;
}