@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.container-experience{
    background-color: white;
}
.experience{
 background-color: #a8a8a8;
 /* margin: 0 auto; */
margin: 50px 0px 50px 0px;
 display: flex;
 justify-content: center;
 text-align: center;
 border-radius: 25px;
}
.experience h2{
    font-family: 'Anton', sans-serif;
    display: grid;
    place-items: center;
}

div > h3{
    margin-left: 20px;
    font-family: 'Poltawski Nowy', serif;
}

div > p {
    margin: 2px 0px 2px 10px;
    font-family:'Poltawski Nowy', serif;
    
}

.description .time{
    margin-left: 25px;
}